.producto__boton{
    color: rgba(7, 5, 3, 0.877);
    font-weight: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    border-radius: 10px 0;
    padding: 0.75rem;
}
.producto__boton:hover{
    cursor: pointer;
    background-color: coral;
    
}
