.Productos{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(188, 144, 85);
    
}
@media screen and (min-width:0) {
    .Productos{
       padding: 2rem;
        
    }
    
 }
 @media screen and (min-width:750px) {
    .Productos{
        padding: 3rem;
        
    }
    
 }