.movie-card__button{
    width: 20rem;
    height: auto;
    box-sizing: border-box;
    border-radius: 12px;
    color: #FDFDFD;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0.8rem;
}
.movie-card__button:hover {
    cursor: pointer;
    width: 22rem;
    background-color: #8758FF;
    font-weight: bold;
}

@media screen and (min-width:0) {
  .movie-card__button {
    background-color: #8758FF;
    font-weight: bolder;
  }
}

@media screen and (min-width:750px) {
  .movie-card__button {
    background: none;
    border: 6px solid #8758FF;
  }
}