main{
    background-color: white;
    width: 1728px;
   height: 5038px;
   position: relative;
   top: -350PX;
}

.cliente{
    display: inline-flex;
align-items: flex-start;
gap: 120px;
position: relative;
left: 180px;
}
.cliente_texto{
    color: var(--Dark, #222831);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 5%;
margin-top: 100px;
}
.cliente_descripcion{
    color: var(--Dark, #222831);

margin-top: 160px;

font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.cliente_parrafo{
    display: flex;
flex-direction: column;
align-items: center;
}
.cliente_categoria{
    color: var(--Dark, #222831);

/* H3 - regular */
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cliente_categoria_descripcion{
    color: var(--Dark, #222831);

/* H2 - semibold */
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 80px;
}