.hero__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  color: #FDFDFD;
}

@media screen and (min-width:0) {
  .hero__title {
    font-size: 6rem;
    line-height: 8rem;
  }
}
@media screen and (min-width:750px) {
  .hero__title {
    font-size: 7.2rem;
  }
}