.tarjeta__carrusel{
   
    height: 100%;
    
}
#tarjeta__carrusel1{
    background-color: rgb(255, 255, 255);
    
}
#tarjeta__carrusel2{
    background-color: rgb(255, 255, 255);
    
}
#tarjeta__carrusel3{
    background-color: rgb(255, 255, 255);
    
}
#tarjeta__carrusel4{
    background-color: rgb(255, 255, 255);
}
.tarjeta__carrusel p, img{
   height: 100%;
   margin-left: auto;
   margin-right: auto;
}