.newsletter__text{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #FDFDFD;
  margin: 0 0 2rem;
}

@media screen and (min-width:0) {
  .newsletter__text {
    font-size: 1.8rem;
    padding: 0 2rem 1rem;
  }
}
@media screen and (min-width:750px) {
  .newsletter__text {
    width: 56rem;
    font-size: 2.2rem;
    padding: 0 1rem;
  }
}