.form__button{
  width: 18rem;
  height: 5rem;
  background: #8758FF;
  filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  color: #FDFDFD;
  font-size: 2.4rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__button:hover {
  cursor: pointer;
  width: 19rem;
  background-color: #8758FF;
  font-weight: bold;
}