.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  height: auto;
  border-radius: 28px;
  border: 6px solid #8758FF;
}

@media screen and (min-width:0) {
  .newsletter__form {
    width: 90%;
    padding: 1rem 1.5rem;
  }
}
@media screen and (min-width:750px) {
  .newsletter__form {
    width: 46rem;
    padding: 3rem 4rem;
  }
}