.movies-cards {
  display: flex;
  box-sizing: border-box;
  padding: 2rem 0;
  gap: 4rem;
}

@media screen and (min-width:0) {
  .movies-cards {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width:750px) {
  .movies-cards {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}