.cabecera{
    align-items: center;
    background-color: rgba(170, 118, 28, 0.875);
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
@media screen and (min-with:0) {
    .cabecera{
            justify-content: center;
            padding: 0 1rem;

    }
}
@media screen and (min-width:750px) {
    .cabezera{
        padding: 0 5rem;
        justify-content: space-between;
    }
}

